<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-viatick-plugins-bms-sdk-public" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>BmsCordovaSdkPublic</name>
	<js-module name="BmsCordovaSdkPublic" src="www/BmsCordovaSdkPublic.js">
		<clobbers target="cordova.plugins.BmsCordovaSdkPublic" />
	</js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="BmsCordovaSdkPublic">
				<param name="ios-package" value="BmsCordovaSdkPublic" />
			</feature>
		</config-file>
		<source-file src="src/ios/BmsCordovaSdkPublic.swift" />
		<source-file src="src/ios/SDK SRC/CONTROLLER/ViaApiCtrl.swift" />
		<source-file src="src/ios/SDK SRC/CONTROLLER/ViaBackgroundTaskCenter.swift" />
		<source-file src="src/ios/SDK SRC/CONTROLLER/ViaBmsCtrl.swift" />
		<source-file src="src/ios/SDK SRC/CONTROLLER/ViaIBeaconCtrl.swift" />
		<source-file src="src/ios/SDK SRC/CONTROLLER/ViaNotificationCenter.swift" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteTableViewCell.swift" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteTableViewCell.xib" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteTableViewController.swift" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteTableViewController.xib" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteViewController.swift" />
		<source-file src="src/ios/SDK SRC/VIEW/ViaMinisiteViewController.xib" />
		<source-file src="src/ios/SDK SRC/MODEL/ViaBmsUtil.swift" />
		<source-file src="src/ios/SDK SRC/MODEL/ViaIBeacon.swift" />
		<source-file src="src/ios/SDK SRC/MODEL/ViaMinisite.swift" />
		<resource-file src="src/ios/SDK SRC/RES/ViaIcons.xcassets" />
	</platform>
</plugin>
